@import operation.trivia.entities.Player
@import play.api.i18n.Messages
@(form: Form[Player], webJarAssets: WebJarAssets)(implicit messages: Messages)

@form.globalError.map { error =>
    <div>@error</div>
}

@template("Login to Continue", webJarAssets) {
    @helper.form(action = routes.LoginController.login(), 'id -> "login_form") {
        <div>
        @helper.inputText(form("name"),
                '_id -> "name",
                '_name -> "name",
                '_label -> "Name:",
                '_showConstraints -> false)
        </div>
        <input id="submit" name="submit"
               type="submit" value="Create"/>
    }
}
