@import operation.trivia.entities.Question
@(title: String, form: Form[Question], webJarAssets: WebJarAssets)(implicit messages: Messages)

@import views.html.helper.FieldConstructor
@implicitField = @{
    FieldConstructor(field.f)
}


@template(title = "Operation Trivia", webJarAssets) {
    <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("rx.all.js"))'></script>
    <div id="main">
        <a href="@routes.LoginController.logout()">Logout</a>
        @helper.form(action = routes.QuestionController.processQuestion(), 'id -> "question_form") {
            @helper.inputText(form("item"),
                '_id -> "question",
                '_name -> "question",
                '_label -> "Question:",
                'size -> 40,
                '_showConstraints -> false)

            @helper.repeat(form("possibleAnswers"), min = 4) { answerField =>
                @helper.inputText(answerField,
                    '_label -> "Answer:",
                    'size -> 40)
            }

            @helper.inputRadioGroup(
                field = form("actualAnswer"),
                options = Seq(
                    "0" -> "Answer 1",
                    "1" -> "Answer 2",
                    "2" -> "Answer 3",
                    "3" -> "Answer 4"),
                '_id -> "actualAnswer",
                '_name -> "actualAnswer",
                '_label -> "Actual Answer:",
                '_showConstraints -> false)


            <input id="submit" name="submit" type="submit" value="Create"/>
        }

    </div>
}
